*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 38px 23px, bottom right;
}
nav{
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #474747; 
}
.button{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.banner-img img{
    width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
    
}

#about .about-container{
    background-color: #FFF8F3;
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    border-radius: 10px;
    
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.section-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    font-weight: 700;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.info-card p{
    font-size: 20px;
    color: #757575;
}
.info-card h4{
    font-size: 20px;
    color: #181818;
}

.skills{
    padding-top: 130px;
    
}
.skill-container{
    width: 1140px;
    margin: 0 auto;
}
.skill-container .section-heading{
    text-align: center;
}
.skill-container .section-heading p{
    width: 827px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000028;
}
.skill-card img{
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
}

.resume{
    padding-top: 130px;
}

.resume .section-heading h2{
    text-align: center;
}

.resume-container{
    padding-top: 113px;
    display: flex;
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
}
.resume-container .section-heading{
    margin-top: 113px;
}
.education .section-title, .experience .section-title{
    margin-bottom: 30px;
}
.education h2, .experience h2{
    font-size: 30px;
}
.resume-card{
    max-width: 511px;
}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card p{
    margin-bottom: 20px;
    font-size: 20px;
}
.resume-card .card-text{
    font-size: 16px;
}
.resume .resume-button{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 113px;
}

.footer-container{
    background-color: #FFF8F3;
    padding: 130px 230px;
    display: flex;
    justify-content: space-around;
}
.footer-social{
    width: 562px;
}

.footer-social h2, .footer-social .form h2{
        font-size: 35;
        font-weight: 700;
        margin-bottom: 20px;
}
.footer-social p{
        font-size: 16;
        
        margin-bottom: 30px;
}
.footer-social .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"],.footer-container form input[type="email"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    margin-top: 28px;
    border: none;
    border-radius: 5px;
    color: #757575;
}