*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71.25%;
    max-width: 1140px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #474747; 
}
.button{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.banner-img img{
    width: 585px;
    vertical-align: middle;
}